#Node Dependency Modules
node_modules/

#Builds
dist/

#Environments
.env

### VisualStudioCode ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

#Error Logs
yarn-error.log